<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Log In
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item class="animate__animated animate__bounceIn animate__slower	3s">
    <ion-label position="floating">Email:</ion-label>
    <ion-input clearInput type="email"></ion-input>
  </ion-item>
  <ion-item class="animate__animated animate__fadeInLeft animate__slower	3s">
    <ion-label position="floating">Senha:</ion-label>
    <ion-input clearInput type="password"></ion-input>
  </ion-item>
  <br>
  <section>
    <ion-button expand="block" color="danger" (click)="chamaAlert()">Entrar <ion-icon name="log-in-outline"></ion-icon>
    </ion-button>
  </section>
  <ion-text color="secondary" class="esqueceu">
    <h6 href="#">Esqueçeu a senha?</h6>
  </ion-text>
</ion-content>
